{% extends 'base.html' %}
{% block content %}
    <!-- Image page -->

    <div class="split-right">
        <div class="images-content-wrapper">
            <h1 class="images-title">Images</h1>

            <div class="image-prompt-bar">
                <button class="prompt-icon-btn"><i class="bi bi-paperclip"></i></button>
                <input type="text" placeholder="Describe a new image"/>
                <button class="prompt-icon-btn"><i class="bi bi-mic"></i></button>
                <button class="prompt-submit-btn"><i class="bi bi-arrow-up-short"></i></button>
            </div>
            <!-- gallery -->
             <div class="gallery-section">
                <div class="gallery-header">
                    <h3>Create an image</h3>
                    <div class="gallery-controls">
                        <button class="nav-btn">&lt;</button>
                        <button class="nav-btn">&gt;</button>
                    </div>
                </div>
                <div class="gallery">
                    <div class="gallery-card">
                        <img src="../static/assert/image/such a great 😘♥️.jpg">
                        <span class="card-title">create a caricature</span>
                    </div>
                    <div class="gallery-card">
                        <img src="../static/assert/image/Ghibli art of girl_ Cute dp ideas for girls 💕✨ Image of girl with flowers_.jpg">
                        <span class="card-title">Anime</span>
                    </div>
                    <div class="gallery-card">
          <img src="../static/assert/image/download (5).jpg" alt="Underwater">
          <span class="card-title">Underwater</span>
        </div>
        <div class="gallery-card">
          <img src="../static/assert/image/download (4).jpg" alt="Summer">
          <span class="card-title">Summer list</span>
        </div>
        <div class="gallery-card">
          <img src="../static/assert/image/download (3).jpg" alt="Pin collection">
          <span class="card-title">Pin collection</span>
        </div>
                </div>
             </div>
        </div>
    </div>
    <script src="../static/JS/script.js"></script>
    {% endblock %}
