

{% extends 'base.html' %}
{% block content %}

<div class="name">
  <div class="name-hover">     
    <a href="#">AI-Bot</a>
  </div>
</div>

<div class="search-wrapper">
  <div class="home-page page">
    <div class="Intro" id="intro-heading">
      <p>Where should we begin?</p>
    </div>
    <div id="chat-messages" class="chat-messages"></div>
  </div>

  <div class="search-main">
    <div class="search-bar">
      <form id="chat-form" action="{{ url_for('get_response') }}" method="POST">
        <div class="plus-upload">
        <label for="file-upload" class="custom-file-upload">
        <!-- <button type="button" class="icon-plus" aria-label="Add attachment">   -->
              <div class="icon-plus" aria-label="Add attachment">  

              <i class="bi bi-plus"></i> 
              </div> 
        <!-- </button> -->
        </label>
                <input type="file" id="file-upload" class="file-upload"/>
                </div>

        <input type="text" id="user-input" name="input-area" placeholder="Ask anything" autocomplete="off" />
        <button type="button" class="icon-mic" aria-label="Voice input">
          <i class="bi bi-mic"></i>
        </button>
        <button type="submit" id="send-btn" class="submit-btn" aria-label="Send message">
          <i class="bi bi-arrow-up-short"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="message user-message">
  <span class="message-bubble">
    <!-- <i class="bi bi-chat-right"></i> -->
  </span>
  <!-- <div class="msg-text">Hello there!</div> -->
</div>
</div>

<script src="{{ url_for('static', filename='JS/script.js') }}?v=1.2"></script>

{% endblock %}